.container.testimonials__container{
    width: 40%;
    padding-bottom: 4rem;
  }
  .client__avatar{
    overflow: hidden;
    width: 8rem;
    height: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
  }
  
  .testimonial{
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    user-select: none;
    border-radius: 2rem;
  }

  .testimonialshgroup h2 {
    color: var(--color-black);
  }

  .testimonialshgroup h3 {
    color: var(--color-black);
    text-align: center;
  }
  
  .client__review{
    color: var(--color-black);
    font-weight: 300;
    font-size: large;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
  }

  .client__name{
    font-size: large;
  }
  
  .swiper-pagination-clickable .swiper-pagination-bullet-active{
    background: #fff;
  }
  
  
  /* ===== MEDIA QUERIES TABLET ===== */
  @media screen and (max-width: 1024px) {
    .container.testimonials__container{
      width: 60%;
    }
  }
   
   /* ===== MEDIA QUERIES MOBILE ===== */
   @media screen and (max-width: 600px) {
    .container.testimonials__container{
      width: var(--container-width-sm);
    }
  
    .client__review{
      width: var(--container-width-sm);
    }
  
   }
  
  