.experience__container{
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 2rem;
  }
  
  .experience__container > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
  }

  .experiences h3 {
    color: var(--color-black);
    text-align: center;
  }
  .experiences h2 {
    color: var(--color-black);
    text-align: center;
  }
  
  .experience__container > div:hover{
    /* background: transparent; */
    border-color: var(--color-primary-variant);
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
  
  .experience__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
  }
  
  .experience__content{
    grid-template-columns: 1fr 1fr;
    display: grid;
    row-gap: 2rem;  
  }
  
  .experience__details{
    display: flex;
    gap: 1rem;
  }
  
  .experience__details-icon{
    margin-top: 6px;
    color: var(--color-primary); /*check css positioning */
  }
  
  /* ===== MEDIA QUERIES TABLET ===== */
  @media screen and (max-width: 1024px) {
    .experience__container{
      grid-template-columns: 1fr;
    }
    .experience__container > div{
      width: 80%;
      margin: 0 auto;
      padding: 2rem;
    }
    .experience__content{
      padding: 1rem;  }
  }
   
   /* ===== MEDIA QUERIES MOBILE ===== */
   @media screen and (max-width: 600px) {
  
    .experience__container{
      gap: 1rem;
    }
    .experience__container > div{
     width: 100%;
     padding: 2rem 1rem;
    }
  
   }
  